<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resposta produto</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="resposta_produto">
<h1>Resposta para o produto:</h1>

<p>Nome do produto: <%= nome_produto %></p>
<p>Quantidade: <%= quantidade %></p>
<p>Preço: <%= preco_produto %></p>
</div>

<div class="voltar">
    <a href="home.html">Voltar para a loja</a>
</div>
</body>
</html>