<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="style.css" rel="stylesheet">
</head>
<body>
<div class="resposta_usuario">
<h1>Resposta para o usuário:</h1>

<p>Nome: <%= nome %> </p>
<p>Sobrenome: <%= sobrenome %> </p>
<p>Nascimento: <%= nascimento %> </p>
<p>Estado civil: <%= civil %> </p>
</div>

<div class="voltar">
    <a href="loja.html">Voltar para a loja</a>

    <p>Faça seu pedido aqui!</p>
    <a href="cadastro_produto.html">Clique aqui!</a>

</body>
</html>
