<!DOCTYPE html>
<html>
    <head>
        <title>Resposta Usuário</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <h1>Resposta Usuário</h1>
        <p>Resposta: <%= resposta %>  </p>

    </body>
</html>