<!DOCTYPE html>
<html>

<head>

    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <h1>Bem vindo ao sistema de gerenciamento de carros</h1>

    <div class="menu">

    <h2>O que você pode fazer:</h2>


    <a href="/cadastro" class="botao">Cadastro</a>
    <br><br>

    <a href="/login" class="botao">Login</a>
<br><br>

    <a href="/carros" class="botao">Carros</a>
<br><br>
    <a href="/novoCarro" class="botao">Novo Carro</a>
    <br><br>
    <a href="/gerenciarCarro" class="botao">Gerenciar Carros</a>

</div>


</body>

</html>