<!DOCTYPE html>
<html>

<head>

    <title>Novo Carro</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<a href="/carros" class="botao">Carros</a>
<h1>Novo Carro</h1>

<form action="/novoCarro" method="POST">

<input type="text" name="marca" placeholder="Marca">

<br><br>

<input type="text" name="modelo" placeholder="Modelo">

<br><br>

<input type="number" name="ano" placeholder="Ano">

<br><br>

<input type="number" name="qtde" placeholder="Quantidade">

<br><br>

<button type="submit">Cadastrar</button>

</form>

</body>

</html>